html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/*Fonts*/
@font-face {
    font-family: 'Corporate';
    src: url(../fonts/Corporate-A-Bold.woff);
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
    font-weight: 400;
}

/*Common*/
body {
    font-family: 'Roboto Condensed';
    background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
}

p {
    margin-bottom: 23px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 14px 0;
    color: #F402A2;
    border: 1px solid #F402A2;
    font-family: 'Corporate';
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    transition: all .4s ease-in;
}

.btn:hover {
    color: #53A1CB;
    border: 1px solid #53A1CB;
}

h1 {
    font-size: 72px;
    line-height: 86px;
    font-family: 'Corporate';
}

h2 {
    font-family: 'Corporate';
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    color: #F402A2;
}

main h2 {
    margin-bottom: 25px;
}

section {
    margin-bottom: 150px;
}

/*1 block*/
.header {
    position: relative;
    background: #070A1B;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header .logo__img {
    margin-left: 130px;
}
.social-list {
    display: flex;
}
.social-item + .social-item {
    margin-left: 30px;
}
.social__link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: all .4s ease-in;
}
.social__link:hover {
    background-color: #C1A1D2;
}
.header__content {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 400px 400px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    min-height: calc(100vh - 100px); /*full screen (minus header__top)*/
}
.header__title {
    margin-bottom: 5px;
}
.header__text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 49px;
}
.header__logo-icon {
    position: absolute;
    bottom: -2.5%;
}
.menu {
    width: 30px;
    z-index: 10;
}
.menu__dropdown-list {
    position: absolute;
    transition: all .5s linear;
    transform: translateY(-150%);
    text-align: center;
    padding: 15px 20px;
    border-radius: 25%;
}
.menu__dropdown-list--active {
    position: absolute;
    background: rgba(7, 10, 27, .8);
    transform: translateY(10px);
    transform: translateX(30px);
}
.header__nav {
    z-index: 15;
}
.menu__dropdown-list li {
    border-bottom: 1px dotted #F402A2;
    padding: 10px 0;
    transition: all .3s ease-in;
}
.menu__dropdown-list li:last-child {
    border-bottom: none;
}
.menu__dropdown-list li:hover {
    background: rgba(244, 2, 162, .3);
}

/*2 block*/
.concept {
    margin-top: 150px;
}
.concept-box {
    margin-left: auto;
    max-width: 900px;
}
.concept__title-descr {
    font-size: 24px;
    line-height: 29px;
}
.concept__img {
    max-width: 100%;
}

/*3 block*/
.premier__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.premier__content-box,
.premier__quote-box {
    width: 570px;
}

.premier__content-img {
    margin-bottom: 18px;
}

.premier__quote-img {
    margin-bottom: 21px;
}

/*4 block*/
.video .btn {
    padding: 13px 0 12px 0;
    position: relative;
}
.video .btn span {
    margin-left: 40px;
}
.video__poster {
    margin-bottom: 25px;
}
.btn svg path,
.btn svg {
    transition: all .4s ease-in;
}
.btn svg {
   position: absolute;
   left: 45%;
}
.btn:hover svg path {
    fill: #53A1CB;
}
.btn:hover svg {
    transform: scale(1.3);
}
/* video::-webkit-media-controls {
    display: none;
} */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/*5 block*/
.design__interior {
    display: grid;
    grid-template-columns: 255px 255px auto 330px; /*col sizes*/
    grid-template-rows: auto auto;
    gap: 14px 44px;
    margin-bottom: 100px;
}
.design__cell-first {
    grid-row: 1/3;
}
.design__cell-second {
    grid-row-end: -1; /*place block into the end (-1 stage) (to the last row)*/
    display: flex;
    align-items: flex-end;
}
.design__cell-third {
    grid-row-end: -1; /*to last row*/
    grid-column-end: -1; /*to last column*/
    display: flex;
    align-items: flex-end;
}

.design-slider__item {
    margin: 0 30px;
}
.slick-slider .slick-track {
    margin-left: -35px;
}
.arrow {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    bottom: -15%;
    left: 50%;
}
.arrow-left {
    transform: translateX(-80px);
}
.arrow-right {
    transform: translateX(30px);
}

.design-box {
    max-width: 585px;
    padding: 150px 10px;
    display: flex;
    gap: 75px;
    margin: 0 auto;
}
.design__box-col {
    width: 255px;
}

.design__bottom-img {
    max-width: 100%;
    display: block;
}

section:last-child  {
    margin-bottom: 0;
}

/*6 block*/
.footer {
    background: #070A1B;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}
.logo,
.footer__text {
    transition: all .4s ease-in;
}
.logo:hover,
.footer__text:hover {
    opacity: 0.8;
}

/*Scroll*/
.scroll-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 3%;
    right: 5%;
    z-index: 25;
    border-radius: 100%;
    color: #F402A2;
    border: 1px solid #F402A2;
    transition: border .4s linear;
}
.scroll-btn:hover {
    color: #53A1CB;
    border: 1px solid #53A1CB;
}
.scroll-btn svg {
    width: 50%;
    height: 50%;
}
.scroll-btn svg path {
    fill: #F402A2;
    transition: all .4s linear;
}
.scroll-btn:hover svg path {
    fill: #53A1CB;
}